@import "styles/variaveis";
@import "styles/breakpoints";
.footer {
  background-color: $red;
  display: flex;
  justify-content: flex-end;
  padding: 10px $padding-horizontal;
  @media (max-width: $desktop_xsm) {
  padding: 10px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
  padding: 10px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
  padding: 10px $padding-horizontal-md;
  }
}
.container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
.voltar {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  button {
    background-color: transparent;
    border: none;
    color: $red;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
  }
}